<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.42">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.9.3"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.9.3">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <inheritanceStrategy class="org.jenkinsci.plugins.matrixauth.inheritance.InheritParentStrategy"/>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:fdc-jenkins-admin</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:fdc-jenkins-admin</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:fdc-jenkins-admin</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:fdc-jenkins-admin</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:atadiboyina</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:authenticated</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:fdc-jenkins-admin</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:ssamudrala</permission>
      <permission>hudson.model.Item.Build:atadiboyina</permission>
      <permission>hudson.model.Item.Build:fdc-jenkins-admin</permission>
      <permission>hudson.model.Item.Build:ssamudrala</permission>
      <permission>hudson.model.Item.Cancel:atadiboyina</permission>
      <permission>hudson.model.Item.Cancel:fdc-jenkins-admin</permission>
      <permission>hudson.model.Item.Cancel:ssamudrala</permission>
      <permission>hudson.model.Item.Configure:fdc-jenkins-admin</permission>
      <permission>hudson.model.Item.Delete:fdc-jenkins-admin</permission>
      <permission>hudson.model.Item.Discover:fdc-jenkins-admin</permission>
      <permission>hudson.model.Item.Move:fdc-jenkins-admin</permission>
      <permission>hudson.model.Item.Read:atadiboyina</permission>
      <permission>hudson.model.Item.Read:authenticated</permission>
      <permission>hudson.model.Item.Read:fdc-jenkins-admin</permission>
      <permission>hudson.model.Item.Read:ssamudrala</permission>
      <permission>hudson.model.Item.Workspace:atadiboyina</permission>
      <permission>hudson.model.Item.Workspace:authenticated</permission>
      <permission>hudson.model.Item.Workspace:fdc-jenkins-admin</permission>
      <permission>hudson.model.Item.Workspace:ssamudrala</permission>
      <permission>hudson.model.Run.Delete:fdc-jenkins-admin</permission>
      <permission>hudson.model.Run.Replay:fdc-jenkins-admin</permission>
      <permission>hudson.model.Run.Update:fdc-jenkins-admin</permission>
      <permission>hudson.scm.SCM.Tag:fdc-jenkins-admin</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>environment</name>
          <description>Choose environment</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>test</string>
              <string>stage</string>
              <string>prod</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>branch</name>
          <description>Choose release/xxxx.xx.xx branch</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2633.v6baeedc13805">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@4.10.0">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>https://github.com/The-Frontdoor-Collective/fdc-liquibase.git</url>
          <credentialsId>vinay-github</credentialsId>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/${branch}</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="empty-list"/>
      <extensions/>
    </scm>
    <scriptPath>Jenkinsfile</scriptPath>
    <lightweight>false</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>