<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.PasswordParameterDefinition>
          <name>password</name>
          <defaultValue>{AQAAABAAAAAQt6cWLZ9WE/OcZszge5EjFKscyFwpfQgJwqW2q6ZExz0=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>0 2 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>docker run imega/mysql-client mysql --host=fdc.cmxnd7iy8yny.us-west-2.rds.amazonaws.com --user=&apos;etluser&apos; --password=&quot;${password}&quot; --database=fdc --execute=&quot;DELETE FROM fdc.event_store WHERE deleted = &apos;1&apos; AND DATE(created_on) &lt;= DATE(date_add(now(), INTERVAL -7 DAY))&quot;;
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>