<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.42">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.9.3"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.9.3">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>parcelCentreId</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>parcelCentreId</name>
          <description>Select the parcel centre id</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>2</string>
              <string>3</string>
              <string>8</string>
              <string>13</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2633.v6baeedc13805">
    <script>pipeline {
    environment {
        FDC_URL = &apos;https://api-dev.frontdoorcorp.net/fdc/orders&apos;
    }

    agent any

    parameters {
        choice(name: &apos;parcelCentreId&apos;, choices: [&apos;2&apos;,&apos;3&apos;,&apos;8&apos;,&apos;13&apos;], description: &apos;Select the parcel centre id&apos;)
    }

    stages {
        stage(&quot;first&quot;) {
            steps {
                script {
                    tz = TimeZone.getTimeZone(&quot;America/New_York&quot;)
                    def outputDateFormat = &quot;yyyy-MM-dd&quot;
                    def now = new Date() + 1
                    def convertedDate = now.format(outputDateFormat, tz)
                    def curlScript = &quot;curl -s -w &apos;\\n%{response_code}&apos; --location --request POST --header &apos;Authorization: Client 121&apos; --header &apos;Content-Type: application/json&apos; --data &apos;{\&quot;parcelCenterId\&quot;:${parcelCentreId}, \&quot;deliveryDate\&quot;: \&quot;${convertedDate}\&quot;}&apos; ${FDC_URL}&quot;
                    echo curlScript

                    def (String responseBody, int responseStatusCode) = sh(
                        script: &quot;${curlScript}&quot;,
                        returnStdout: true
                    ).trim()
                    .tokenize(&quot;\n&quot;)
                    
                    if (responseStatusCode != 200) {
                        error(&quot;Returned status code = ${responseStatusCode} when calling ${FDC_URL}. Response body: ${responseBody}&quot;)
                    } else {
                        echo &apos;HTTP Response body: &apos; + responseBody
                    }
                }
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>